# Exploring Wildtype Expression

In [1]:
import numpy as np 
import pandas as pd 
import altair as alt 
import futileprot as fp 
colors, palette = fp.viz.altair_style()

In [10]:
# Load the Balakrishan 2021 data 
data = pd.read_csv('../../data/literature/Balakrishnan2021/Balakrishnan2021_wt_rnaseq.csv')

# Clean up the data to a form that is useful.
data.rename(columns={'WT-pre':'glucose', 'WT-acetate':'acetate', 'gene':'gene_name'},
            inplace=True)
data = data[['gene_name', 'glucose', 'acetate']]
data = data.melt('gene_name', var_name='growth_medium', value_name='reads')

In [13]:
# Set up the  dictionary of genes we care about. 
genes = {'flh':['flhD', 'flhC',],
         'glt':['gltI', 'gltJ', 'gltK', 'gltL'],
         'mal':['malG', 'malF', 'malE','malK', 'malM', 'lamB'],
         'his':['hisJ', 'hisQ', 'hisM', 'hisP'],
         'dpp': ['dppA', 'dppB', 'dppC', 'dppD'],
         'pot': ['potF', 'potG', 'potH', 'potI'],
         'nmp': ['nmpC'],
         'rbs': ['rbsD', 'rbsB', 'rbsA', 'rbsC'],
         'mgl': ['mglB', 'mglA', 'mglC'],
         'opp': ['oppA', 'oppB', 'oppC', 'oppD', 'oppf']}
data[data['gene_name']=='hisP']

     gene_name growth_medium  reads
1149      hisP       glucose   2508
5491      hisP       acetate   3193